#files:
# /etc/mycofig/config:
#    source: https://elasticbeanstalk-ap-northeast-2-168712278800.s3.amazonaws.com/*
#
#Resources:
#  AWSEBAutoScalingGroup:
#    Metadata:
#      AWS::CloudFormation::Authentication:
#        S3Access:
#          type: S3
#          roleName: aws-elasticbeanstalk-ec2-role
#          buckets: elasticbeanstalk-ap-northeast-2-168712278800