files:
  "/target/file/path" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: https://s3-us-west-1.amazonaws.com/elasticbeanstalk-ap-northeast-2-168712278800/resources/environments/e-xq5935qayz/_runtime/_versions/joopging-schedule/github-actiongithub-action-${{steps.current-time.outputs.formattedTime}}
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: elasticbeanstalk-ap-northeast-2-168712278800